# Ignore egg files for packaged library:
woodland.egg-info
build
dist

# Ignore IDE config/setting files and directories:
.vscode
.idea

# Removing cache files:
.mypy_cache
__pycache__

# Ignore Pipenv lock file:
# Pipfile.lock

# Ignore testing cache files:
.tox
.coverage

# Ignore docs:
docs