[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"pep8" = "*"
"autopep8" = "*"
"flake8" = "*"
mypy = "*"
pylint = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-isort = "*"
pytest-black = "*"
pytest-html = "*"
pytest-coverage = "*"
tox = "*"
black = "*"

[pipenv]
allow_prereleases = true
